@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

button{
    background-color: #85DC18;
    border-radius: 5px;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover{
    opacity: 0.8;
}

.container-buttons{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 40px;
    justify-content: center;
}

li{
    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
}

img{
    width: 100%;
    border-radius: 5px;
}

p{
    color: beige;
}

.item-price{
    font-weight: bold;
    color: #85DC18;
}

@media screen and (max-width: 768px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }

    .container-buttons {
        flex-direction: row;
    }
}